# =============================================================================
# OhMyUniversity! — Chat
# =============================================================================

SPRING_PROFILES_ACTIVE=dev

# PostgreSQL
POSTGRES_URL=jdbc:postgresql://localhost:5432/db_chat
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

# MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=db_messages
MONGO_USERNAME=
MONGO_PASSWORD=

# Redis pub/sub
REDIS_PUBSUB_HOST=localhost
REDIS_PUBSUB_PORT=6380
REDIS_PUBSUB_PASSWORD=

# Kafka consumer
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# JWT
JWT_SECRET=
